+e.SECTION.section--dream
    +e.ticker.text--max
        +e.ticker-wrapper
            +e.ticker-part Dream of&nbsp;the
    +e.ticker--ltr.text--max
        +e.ticker-wrapper
            +e.ticker-part Perfect Girl?
    +e.ticker.text--max
        +e.ticker-wrapper
            +e.ticker-part She's Here to&nbsp;Stay
    +e.ticker--ltr.text--max
        +e.ticker-wrapper
            +e.ticker-part by&nbsp;Your Side!

    +e.light
