+e.SECTION.section--chat
    +e.content
        +e.H2.title.text--h2 Bid farewell to boredom with playful interaction

        +e.P.text Experience a playful and interactive dating simulation without any commitments. Chat and participate in carefree role-playing games to improve your communication and&nbsp;relationship skills

    +e.chat
        +e.device
            +e.phone
                +image({
                    path: '@pages/main/chat/images/phone',
                    ext: 'svg',
                    noTablet: true,
                    noMobile: true,
                    noFormat: true,
                })

            +e.dots
                +e.dot
                +e.dot
                +e.dot

            +e.screen
                +e.messages
                    +e.message Hey, I'd like to have a little chat with you

                    +e.message--from.--voice
                        +e.play-pause
                            +image({
                                path: '@pages/main/chat/images/play',
                                ext: 'svg',
                                noTablet: true,
                                noMobile: true,
                                noFormat: true,
                            })

                            +image({
                                path: '@pages/main/chat/images/pause',
                                ext: 'svg',
                                noTablet: true,
                                noMobile: true,
                                noFormat: true,
                            })

                        +e.voice
                            +image({
                                path: '@pages/main/chat/images/voice',
                                ext: 'svg',
                                noTablet: true,
                                noMobile: true,
                                noFormat: true,
                            })

                            +image({
                                path: '@pages/main/chat/images/voice',
                                ext: 'svg',
                                noTablet: true,
                                noMobile: true,
                                noFormat: true,
                            })

                    +e.message What are you wearing now?

                    +e.message--from.--image
                        +image({
                            path: '@pages/main/chat/images/blurry',
                            ext: 'jpg',
                            noTablet: true,
                            noMobile: true,
                        })

                        +e.button
                            +button({
                                modifier: 'small',
                                text: 'View more',
                            })

    +e.grid
        +image({
            path: '@pages/main/chat/images/grid',
            ext: 'svg',
            noTablet: true,
            noMobile: true,
            noFormat: true,
        })

    +e.light
