@use 'sass:math';

.main__section--chat {
    $p: '.main';

    @include grid-container;

    align-items: center;
    align-content: center;
    padding-top: vpc(67);
    padding-bottom: vpc(103);

    @include tablet {
        display: block;
        padding-top: vpc(72);
        padding-bottom: vpc(64);
        height: auto;
    }

    @include mobile {
        padding-top: vpc(60);
        padding-bottom: vpc(55);
    }

    #{$p}__content {
        grid-column: 2 / span 5;
        padding-bottom: vpc(107);
        max-width: vpc(490);

        @include tablet {
            padding-bottom: 0;
        }

        @include mobile {
            max-width: vpc(328);
        }
    }

    #{$p}__title {
        color: $color-conifer;
    }

    #{$p}__text {
        margin-top: vpc(24);
        color: $color-dusty-gray;

        @include tablet {
            margin-top: vpc(16);
        }

        @include mobile {
            margin-top: vpc(12);
        }
    }

    #{$p}__chat {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: span 6 / -1;
        padding-right: vpc(24);

        @include tablet {
            margin-top: vpc(55);
            padding-right: vpc(2);
        }

        @include mobile {
            margin-top: vpc(35);
            padding-right: 0;
        }
    }

    #{$p}__device {
        position: relative;
        width: vpc(310);
        height: vpc(630);
    }

    #{$p}__phone {
        pointer-events: none;
        user-select: none;
    }

    #{$p}__dots {
        position: absolute;
        left: vpc(90);
        top: vpc(78);
        display: flex;
        align-items: center;
    }

    #{$p}__dot {
        flex-shrink: 0;
        margin-left: vpc(2);
        border-radius: 50%;
        width: vpc(4);
        height: vpc(4);
        background-color: $color-jumbo;
        animation: is-typing 0.6s ease infinite alternate;

        &:first-child {
            margin-left: 0;
        }

        &:nth-child(2) {
            animation-delay: 0.2s;
        }

        &:nth-child(3) {
            animation-delay: 0.4s;
        }

        @keyframes is-typing {
            from {
                opacity: 0;
                transform: scale(0);
            }

            to {
                opacity: 1;
                transform: scale(1.1);
            }
        }
    }

    #{$p}__screen {
        position: absolute;
        left: vpc(5);
        right: vpc(5);
        top: vpc(94);
        bottom: vpc(81);
        display: flex;
        flex-direction: column-reverse;
        overflow: hidden;
    }

    #{$p}__messages {
        padding: vpc(12);
        padding-left: vpc(14);
    }

    #{$p}__message {
        position: relative;
        display: flex;
        align-items: center;
        overflow: hidden;
        margin-top: vpc(10);
        margin-left: auto;
        border-radius: vpc(16) vpc(16) 0 vpc(16);
        padding: vpc(13);
        width: vpc(210);
        min-height: vpc(48);
        font-size: vpc(14);
        line-height: math.div(18, 14);
        color: $color-concrete;
        background-color: $color-mine-shaft2;

        &:first-child {
            margin-top: 0;
        }

        img {
            pointer-events: none;
            user-select: none;
        }

        &--from {
            @include gradient-accent;

            margin-left: 0;
            border-bottom-right-radius: vpc(16);
            border-bottom-left-radius: 0;
            width: vpc(184);
            color: $color-mine-shaft;
        }

        &--voice {
            padding: vpc(10);
        }

        &--image {
            padding: 0;
            background: none;
            pointer-events: none;
        }
    }

    #{$p}__audio {
        display: none;
    }

    #{$p}__play-pause {
        position: relative;
        flex-shrink: 0;
        border-radius: 50%;
        width: vpc(28);
        height: vpc(28);
        pointer-events: auto;

        img {
            &:last-child {
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
            }
        }

        &.is-playing {
            img:last-child {
                opacity: 1;
            }
        }
    }

    #{$p}__voice {
        position: relative;
        flex-shrink: 0;
        margin-left: vpc(5);
        width: vpc(130);
    }

    #{$p}__voice-track {
        overflow: hidden;

        img {
            width: vpc(130);
            max-width: none;
        }

        &:first-child {
            opacity: 0.3;
        }

        &:last-child {
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            width: 0;
        }
    }

    #{$p}__button {
        position: absolute;
        left: 50%;
        top: 50%;
        display: flex;
        justify-content: center;
        width: 100%;
        transform: translate(-50%, -50%);
        pointer-events: auto;
    }

    #{$p}__grid {
        position: absolute;
        left: 0;
        right: 0;
        bottom: vpc(-150);
        z-index: -1;
        opacity: 0.25;
        pointer-events: none;
        user-select: none;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: vpc(-1);
            z-index: 1;
            display: block;
            width: 100%;
            height: vpc(300);
            background: linear-gradient(to bottom, $color-cod-gray, rgba($color-cod-gray, 0));
        }

        @include tablet {
            bottom: vpc(-90);

            &::before {
                height: vpc(200);
            }
        }

        @include mobile {
            left: vpc(-80);
            right: vpc(-80);
            bottom: 0;

            &::before {
                height: vpc(150);
            }
        }
    }
}
