+e.SECTION.section--chat
    +e.content
        +e.H2.title.text--h2.js-text-scramble Spark fun, beat boredom!

        +e.P.text Create your intimate story together. Experience a&nbsp;playful and interactive dating simulation without any commitments with a&nbsp;virtual&nbsp;AI companion who listens, responds and appreciates you.

    +e.chat
        +e.device
            +e.phone
                +image({
                    path: '@pages/main/chat/images/phone',
                    ext: 'svg',
                    noTablet: true,
                    noMobile: true,
                    noFormat: true,
                })

            +e.dots
                +e.dot
                +e.dot
                +e.dot

            +e.screen
                +e.messages
                    +e.message Hey, I'd like to have a little chat with you

                    +e.message--from.--voice
                        +e.AUDIO.audio(preload="none")
                            source(src=`${baseDir}audio/voice-message.mp3`)

                        +e.BUTTON.play-pause(type="button")
                            +image({
                                path: '@pages/main/chat/images/play',
                                ext: 'svg',
                                noTablet: true,
                                noMobile: true,
                                noFormat: true,
                            })

                            +image({
                                path: '@pages/main/chat/images/pause',
                                ext: 'svg',
                                noTablet: true,
                                noMobile: true,
                                noFormat: true,
                            })

                        +e.voice
                            +e.voice-track
                                +image({
                                    path: '@pages/main/chat/images/voice',
                                    ext: 'svg',
                                    noTablet: true,
                                    noMobile: true,
                                    noFormat: true,
                                })

                            +e.voice-track
                                +image({
                                    path: '@pages/main/chat/images/voice',
                                    ext: 'svg',
                                    noTablet: true,
                                    noMobile: true,
                                    noFormat: true,
                                })

                    +e.message What are you wearing now?

                    +e.message--from.--image
                        +image({
                            path: '@pages/main/chat/images/blurry',
                            ext: 'jpg',
                            noTablet: true,
                            noMobile: true,
                        })

                        +e.button
                            +button({
                                link: 'https://t.me/TRule34_bot',
                                modifier: 'small',
                                text: 'View more',
                            })(target="_blank")

    +e.grid
        +e.VIDEO.video(autoplay loop muted playsinline preload="none")
            source(src=`${baseDir}video/grid.mp4` type="video/mp4")

    +e.light
