@use 'sass:math';

.main__section--cards {
    $p: '.main';
    $widthStart: 336;
    $widthEnd: 1184;
    $widthStartT: 304;
    $widthEndT: 768;
    $widthStartM: 296;
    $widthEndM: 360;
    $heightStart: 234;
    $heightEnd: 658;
    $heightStartT: 234;
    $heightEndT: 622;
    $heightStartM: 234;
    $heightEndM: 392;
    $scaleX: math.div($widthStart, $widthEnd);
    $scaleY: math.div($heightStart, $heightEnd);
    $scaleXT: math.div($widthStartT, $widthEndT);
    $scaleYT: math.div($heightStartT, $heightEndT);
    $scaleXM: math.div($widthStartM, $widthEndM);
    $scaleYM: math.div($heightStartM, $heightEndM);
    $scaleWrapperX: 1;
    $scaleWrapperY: 1;
    $scaleWrapperXT: 1;
    $scaleWrapperYT: 1;
    $scaleWrapperXM: 1;
    $scaleWrapperYM: 1;

    @if $scaleX < $scaleY {
        $scaleWrapperX: math.div($widthEnd * $scaleY, $widthStart);
    } @else {
        $scaleWrapperY: math.div($heightEnd * $scaleX, $heightStart);
    }

    @if $scaleXT < $scaleYT {
        $scaleWrapperXT: math.div($widthEndT * $scaleYT, $widthStartT);
    } @else {
        $scaleWrapperYT: math.div($heightEndT * $scaleXT, $heightStartT);
    }

    @if $scaleXM < $scaleYM {
        $scaleWrapperXM: math.div($widthEndM * $scaleYM, $widthStartM);
    } @else {
        $scaleWrapperYM: math.div($heightEndM * $scaleXM, $heightStartM);
    }

    z-index: 2;
    transform: translateZ(0);

    #{$p}__area {
        @include grid-container;

        &--top {
            position: relative;
            align-items: start;
            padding-top: vpc(99);
            padding-bottom: vpc(130);
            color: $color-mine-shaft2;
            background-color: $color-whisper;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                top: -1px;
                bottom: -1px;
                z-index: -1;
                display: block;
                background-color: inherit;
            }
        }

        &--bottom {
            margin-top: vpc(-78);
        }

        @include tablet {
            display: block;

            &--top {
                padding-top: vpc(72);
                padding-bottom: vpc(122);
            }

            &--bottom {
                margin-top: 0;
                padding: 0 !important;
            }
        }

        @include mobile {
            &--top {
                padding-top: vpc(60);
                padding-bottom: vpc(60);
            }
        }
    }

    #{$p}__title {
        grid-column: 1 / span 5;
        margin-left: vpc(2);
        max-width: vpc(550);

        @include tablet {
            margin-left: 0;
        }

        @include mobile {
            max-width: vpc(328);
        }
    }

    #{$p}__cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-column: span 6 / -2;
        margin-left: vpc(-2);

        @include tablet {
            margin-top: vpc(40);
            margin-left: 0;
        }

        @include mobile {
            margin-top: vpc(24);
        }
    }

    #{$p}__card {
        position: relative;
        border: 1px solid $color-mine-shaft2;
        border-radius: vpc(40);
        padding: vpc(23);
        padding-top: vpc(31);
        width: vpc(384);
        background-color: $color-white;

        &:nth-child(2) {
            margin-top: vpc(-396);
            margin-left: vpc(202);
        }

        &:nth-child(3) {
            margin-top: vpc(-418);
            margin-left: vpc(-200);
        }

        @include tablet {
            border-radius: vpc(30);
            padding: vpc(19);
            padding-top: vpc(23);
            width: vpc(344);

            &:nth-child(2) {
                margin-top: vpc(-420);
                margin-left: vpc(144);
            }

            &:nth-child(3) {
                margin-top: vpc(-420);
                margin-left: vpc(-144);
            }
        }

        @include mobile {
            margin: 0 auto;
            padding: vpc(15);
            padding-top: vpc(23);
            width: vpc(328);

            &:nth-child(2),
            &:nth-child(3) {
                margin-top: vpc(12);
                margin-left: auto;
            }
        }
    }

    #{$p}__card-text {
        margin-top: vpc(8);
        color: $color-dove-gray;
    }

    #{$p}__card-image {
        overflow: hidden;
        margin-top: vpc(16);
        border-radius: vpc(20);

        picture,
        img {
            pointer-events: none;
            user-select: none;
        }

        @include tablet-only {
            border-radius: vpc(16);
        }

        @include mobile {
            margin-top: vpc(32);
        }
    }

    #{$p}__card:nth-child(1) #{$p}__card-image {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: visible;
        width: vpc($widthStart);
        height: vpc($heightStart);

        @include tablet {
            width: vpc($widthStartT);
            height: vpc($heightStartT);
        }

        @include mobile {
            width: vpc($widthStartM);
            height: vpc($heightStartM);
        }
    }

    #{$p}__card:nth-child(3) #{$p}__card-image {
        margin-top: vpc(37);

        @include tablet {
            margin-top: vpc(33);
        }

        @include mobile {
            margin-top: vpc(19);
        }
    }

    #{$p}__image-scale {
        --radius-from: #{vpc(56)};
        --radius-to: #{vpc(80)};

        position: relative;
        z-index: 1;
        flex-shrink: 0;
        overflow: hidden;
        width: vpc($widthEnd);
        height: vpc($heightEnd);
        transform: scale($scaleX, $scaleY) translateZ(0);
        will-change: transform;

        picture,
        img {
            pointer-events: none;
            user-select: none;
        }

        @include tablet {
            --radius-from: #{vpc(40)};
            --radius-to: #{vpc(0)};

            width: vpc($widthEndT);
            height: vpc($heightEndT);
            transform: scale($scaleXT, $scaleYT);
        }

        @include mobile {
            --radius-from: #{vpc(24)};

            width: vpc($widthEndM);
            height: vpc($heightEndM);
            transform: scale($scaleXM, $scaleYM);
        }
    }

    #{$p}__image-scale-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        transform: scale($scaleWrapperX, $scaleWrapperY);

        @include tablet {
            transform: scale($scaleWrapperXT, $scaleWrapperYT);
        }

        @include mobile {
            transform: scale($scaleWrapperXM, $scaleWrapperYM);
        }
    }

    #{$p}__image-scale-bg {
        position: absolute;
        left: 50%;
        bottom: vpc(-17);
        margin-left: vpw(-727);
        width: vpw(1927);
        transform: scale(0.8) translate(vpw(-152), vpw(125));

        @include tablet {
            bottom: vpc(-12);
            margin-left: vpwt(-532);
            width: vpwt(1410);
            transform: scale(0.98) translate(vpwt(-30), vpwt(-13));
        }

        @include mobile {
            bottom: vpc(-5);
            margin-left: vpwm(-358);
            width: vpwm(915);
            transform: scale(0.72) translate(vpwm(-40), vpc(100));
        }
    }

    #{$p}__image-scale-girl {
        position: absolute;
        left: 50%;
        bottom: vpc(-46);
        z-index: 1;
        margin-left: vpc(-270);
        width: vpc(550);
        transform-origin: center bottom;
        transform: scale(1.1) translate(vpc(-3), vpc(44));

        @include tablet {
            bottom: vpc(-72);
            margin-left: vpc(-259);
            width: vpc(518);
            transform: scale(1.05) translate(vpc(-11), vpc(-1));
        }

        @include mobile {
            bottom: 0;
            margin-left: vpc(-152);
            width: vpc(306);
            transform: scale(0.84) translate(vpc(-1), vpc(-19));
        }
    }

    #{$p}__image-space {
        grid-column: 1 / -1;
        height: vpc($heightEnd);

        @include tablet {
            width: vpwt($widthEndT);
            height: vpc($heightEndT);
        }

        @include mobile {
            width: vpwm($widthEndM);
            height: vpc($heightEndM);
        }
    }

    #{$p}__button {
        position: absolute;
        left: 0;
        bottom: vpc(-139);
        z-index: 2;
        display: flex;
        justify-content: center;
        width: 100%;

        @include tablet {
            bottom: vpc(-92);
        }

        @include mobile {
            bottom: vpc(-86);
        }
    }
}
