+e.SECTION.section--cards
    +e.area--top
        +e.H2.title.text--h3.js-text-scramble Communication without borders

        +e.cards
            +e.card
                +e.H4.card-title.text--h4 Romantic or&nbsp;Friendly Communication
                +e.P.card-text Chat, flirt, and have a blast. Your AI&nbsp;girlfriend is available 24/7, always understanding when you spend time with your real-life friends

                +e.card-image
                    +e.image-scale
                        +e.image-scale-wrapper
                            +e.image-scale-bg
                                +image({
                                    path: `@pages/main/cards/images/bg`,
                                    ext: 'jpg',
                                    mime: 'webp',
                                })

                            +e.image-scale-girl
                                +image({
                                    path: `@pages/main/cards/images/girl`,
                                    ext: 'png',
                                    mime: 'webp',
                                })

            +e.card
                +e.H4.card-title.text--h4 Voice messages and photo exchange
                +e.P.card-text Revel in AI girlfriend's mesmerizing voice and share images. Don't hesitate to ask her for any selfie, anywhere, in any attire, or&nbsp;even without it

                +e.card-image
                    +image({
                        path: `@pages/main/cards/images/card-2`,
                        ext: 'jpg',
                        mime: 'webp',
                    })

            +e.card
                +e.H4.card-title.text--h4 Maximum Privacy
                +e.P.card-text We prioritize your privacy. Rest assured with our 100% confidentiality guarantee for your AI chat conversations, keeping them exclusively between you #[br]and your AI&nbsp;Girlfriend

                +e.card-image
                    +image({
                        path: `@pages/main/cards/images/card-3`,
                        ext: 'jpg',
                        mime: 'webp',
                    })

    +e.area--bottom
        +e.image-space
        +e.button
            include @components/ui/button-circle/index

    +e.CANVAS.canvas
