+e.SECTION.section--wait
    +e.content
        +e.H2.title.text--h2 Wait for you in chat

    +e.button
        include @components/ui/button-circle/index

    +e.bg
        +image({
            path: `@pages/main/wait/images/bg`,
            ext: 'jpg',
            mime: 'webp',
        })
