extends @layout/default

append globals
    - title = 'Intimate'
    - description = 'Ignite Your Hidden Desires'
    - keywords = 'intimate, app, chat'

block page
    include @pages/main/index

    include @components/ui/button-circle/index

    br

    +button({
        link: '#',
        text: 'Start chatting',
        arrow: true,
    })(target="_blank")

    br
    br

    +button({
        modifier: 'secondary',
        link: '#',
        text: 'Start chatting',
        arrow: true,
    })

    br
    br

    +button({
        modifier: 'small',
        text: 'View more',
    })

    br
    br

    +button({
        modifier: 'secondary',
        text: 'Get access for $100',
    })

    br
    br

    +button({
        text: 'Send',
        arrow: true,
    })(type="submit")

    br
    br

    +button({
        modifier: 'arrow',
        text: 'Send',
    })(type="submit")

    br
    br

    +input({
        id: 'test',
        attrs: {
            placeholder: 'your@emeil.com',
        },
    })

    br

    +input({
        id: 'test-error',
        error: 'Error',
        attrs: {
            placeholder: 'your@emeil.com',
        },
    })

    br

    +link-mask({
        text: 'On facebook'
    })

    br
    br

    +link-mask({
        link: 'mailto:contact@intimate.ai',
        text: 'contact@intimate.ai',
    })

    br
    br

    include @components/footer/index
    include @components/popup/form-success/index
    include @components/popup/get-access/index
