extends @layout/default

append globals
    - title = 'Intimate'
    - description = 'Ignite Your Hidden Desires'
    - keywords = 'intimate, app, chat'

block page
    include @pages/main/index

    include @components/footer/index
    include @components/popup/form-success/index
    include @components/popup/get-access/index
