+e.SECTION.section--soon
    +e.content
        +e.H2.title.text--h3.js-text-scramble Join closed beta tester group&nbsp;- secure your exclusive access

        +e.description
            +e.P.text
                | -&nbsp;You will get all the updates before public#[br]
                | -&nbsp;You will be&nbsp;a&nbsp;part of&nbsp;a&nbsp;closed community#[br]
                | -&nbsp;You can do&nbsp;a&nbsp;feature request directly to&nbsp;developers team#[br]#[br]
                | Early adopters can enjoy 1&nbsp;year premium access for a&nbsp;limited-time offer of&nbsp;$99&nbsp;— act now!

            +e.button
                +button({
                    modifier: 'secondary',
                    text: 'Get access for $99',
                }).js-popup-open(data-popup-id="get-access")

    +e.soon
        +e.soon-mask
            +e.soon-bg
                +image({
                    path: `@pages/main/soon/images/bg`,
                    ext: 'jpg',
                    mime: 'webp',
                })

    +e.lines
        - let lineLightIndex = 6;

        while lineLightIndex > 0
            +e.line
                +e.line-light
                    include images/line-light.svg
                    include images/line-light-m.svg

                +e.line-light
                    include images/line-light.svg
                    include images/line-light-m.svg

            - lineLightIndex--;
