@use 'sass:math';

.main__section--soon {
    $p: '.main';
    $sectionCardsAreaBottomSize: 658 - 78;
    $sectionCardsAreaBottomSizeT: 622;
    $sectionCardsAreaBottomSizeM: 392;

    @include grid-container;

    overflow: hidden;
    margin-top: vpc(-$sectionCardsAreaBottomSize);
    padding-top: vpc(356 + $sectionCardsAreaBottomSize);
    padding-bottom: vpc(132);

    @include tablet {
        margin-top: vpc(-$sectionCardsAreaBottomSizeT);
        padding-top: vpc(440 + $sectionCardsAreaBottomSizeT);
        padding-bottom: vpc(159);
    }

    @include mobile {
        margin-top: vpc(-$sectionCardsAreaBottomSizeM);
        padding-top: vpc(378 + $sectionCardsAreaBottomSizeM);
        padding-bottom: vpc(72);
    }

    #{$p}__content {
        @include grid-container;

        grid-row: 2;
        grid-column: 1 / -1;
        align-items: center;
        margin-top: vpc(36);
        padding: 0 !important;

        @include tablet {
            display: block;
            margin-top: vpc(60);
        }

        @include mobile {
            margin-top: vpc(24);
        }
    }

    #{$p}__title {
        grid-column: 1 / span 6;
        padding-right: vpc(40);
        max-width: vpc(550);
        color: $color-conifer;

        @include tablet {
            margin-left: vpc(8);
            padding-right: 0;
        }

        @include mobile {
            margin-left: 0;
            max-width: vpc(328);
        }
    }

    #{$p}__description {
        grid-column: 7 / -1;
        margin-top: vpc(-2);

        @include tablet {
            margin-top: vpc(20);
        }

        @include mobile {
            margin-top: vpc(12);
        }
    }

    #{$p}__text {
        max-width: vpc(550);
        color: $color-dusty-gray;

        @include mobile {
            max-width: vpc(320);
        }
    }

    #{$p}__button {
        display: flex;
        flex-direction: column;
        margin-top: vpc(24);
        width: vpc(328);

        @include tablet {
            width: 100%;
        }

        @include mobile {
            margin-top: vpc(32);
        }
    }

    #{$p}__soon {
        position: relative;
        display: flex;
        justify-content: center;
        grid-row: 1;
        grid-column: 1 / -1;
    }

    #{$p}__soon-mask {
        display: flex;
        justify-content: center;
        flex-shrink: 0;
        margin-left: vpc(-24);
        width: vpw(1348);
        height: vpw(616);
        mask-image: url('@pages/main/soon/images/mask.svg');
        mask-size: 100%;

        @include tablet {
            margin-left: 0;
            width: vpwt(802);
            height: vpwt(366);
        }

        @include mobile {
            width: vpwm(370);
            height: vpwm(169);
        }
    }

    #{$p}__soon-bg {
        position: relative;
        left: vpw(13);
        top: vpw(-182);
        flex-shrink: 0;
        width: vpw(1374);
        max-width: none;
        pointer-events: none;
        user-select: none;

        @include tablet {
            left: vpwt(8);
            top: vpwt(-109);
            width: vpwt(817);
        }

        @include mobile {
            left: 0;
            top: vpwm(-6);
            width: vpwm(399);
        }
    }

    #{$p}__lines {
        position: absolute;
        left: vpw(62);
        right: vpw(62);
        top: 0;
        bottom: 0;
        z-index: -1;
        display: flex;
        justify-content: space-between;
        pointer-events: none;

        @include tablet {
            left: vpwt(32);
            right: vpwt(32);
        }

        @include mobile {
            left: vpwm(50);
            right: vpwm(50);
        }
    }

    #{$p}__line {
        position: relative;
        width: 1px;
        height: 100%;
        background-color: $color-mine-shaft4;

        @include tablet {
            &:nth-child(n + 5) {
                display: none;
            }
        }
    }

    #{$p}__line-light {
        position: absolute;
        left: 50%;
        top: 0;
        display: block;
        margin-left: vpc(-12);
        width: vpc(24);
        height: vpc(190);

        svg {
            &:last-child {
                display: none;
            }
        }

        @include mobile {
            height: vpc(126);

            svg {
                display: none;

                &:last-child {
                    display: block;
                }
            }
        }
    }
}
