+e.SECTION.section--soon
    +e.content
        +e.H2.title.text--h3.js-text-scramble Join the waiting list -&nbsp;secure your exclusive access

        +e.description
            +e.P.text Connect with the most sophisticated&nbsp;AI companion, who&rsquo;s not only a&nbsp;skilled conversationalist but can also bring any persona to&nbsp;life for your personal roleplay. #[br]Early adopters can enjoy lifetime access for a&nbsp;limited-time offer of&nbsp;#[b $99]&nbsp;&mdash; act now!

            +e.button
                +button({
                    modifier: 'secondary',
                    text: 'Get access for $99',
                }).js-popup-open(data-popup-id="get-access")

    +e.soon
        +e.soon-mask
            +e.soon-bg
                +image({
                    path: `@pages/main/soon/images/bg`,
                    ext: 'jpg',
                    mime: 'webp',
                })

    +e.lines
        - let lineLightIndex = 6;

        while lineLightIndex > 0
            +e.line
                +e.line-light
                    include images/line-light.svg
                    include images/line-light-m.svg

                +e.line-light
                    include images/line-light.svg
                    include images/line-light-m.svg

            - lineLightIndex--;
