@use 'sass:math';

.main__section--app {
    $p: '.main';

    @include grid-container;

    overflow: hidden;
    padding-top: vpc(72);
    padding-bottom: vpc(105);
    min-height: vh(100);
    color: $color-mine-shaft2;
    background-color: $color-whisper;

    @include tablet {
        padding-bottom: vpc(253);
    }

    @include mobile {
        padding-top: vpc(60);
        padding-bottom: vpc(55);
    }

    #{$p}__title {
        grid-column: 1 / -1;
        padding-left: vpc(2);

        @include tablet {
            padding-left: 0;
            max-width: vpc(460);
        }

        @include mobile {
            max-width: vpc(320);
            line-height: math.div(35, 32);
        }
    }

    #{$p}__images {
        display: flex;
        justify-content: space-between;
        grid-column: 1 / -1;
        margin-top: vpc(35);
        padding: 0 vpc(3);

        @include tablet {
            margin-top: vpc(39);
            margin-left: vpc(-5);
            padding: 0;
        }

        @include mobile {
            margin-top: vpc(35);
            margin-left: vpc(3);
        }
    }

    #{$p}__image {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-shrink: 0;
        width: vpw(250);
        max-height: vh(75);
        user-select: none;

        &:first-child {
            align-items: flex-start;
            margin-left: 0;
        }

        &:last-child {
            align-items: flex-end;
        }

        img {
            width: auto;
            max-height: 100%;
        }

        @include tablet {
            margin-left: vpc(22);
            width: auto;
            max-height: vh(75);
        }

        @include mobile {
            width: vpc(250);
            max-height: none;
        }
    }
}
