+e.SECTION.section--app
    +e.container
        +e.H2.title.text--h3.js-text-scramble What our app looks like:

        +e.images
            +e.image
                +image({
                    path: `@pages/main/app/images/1`,
                    ext: 'png',
                    mime: 'webp',
                    noTablet: true,
                    noMobile: true,
                })

            +e.image
                +image({
                    path: `@pages/main/app/images/2`,
                    ext: 'png',
                    mime: 'webp',
                    noTablet: true,
                    noMobile: true,
                })

            +e.image
                +image({
                    path: `@pages/main/app/images/3`,
                    ext: 'png',
                    mime: 'webp',
                    noTablet: true,
                    noMobile: true,
                })

            +e.image
                +image({
                    path: `@pages/main/app/images/4`,
                    ext: 'png',
                    mime: 'webp',
                    noTablet: true,
                    noMobile: true,
                })

        +e.light
