@use 'sass:math';

.footer {
    $p: &;

    position: relative;
    overflow: hidden;
    color: $color-silver;

    &__section {
        @include grid-container;

        border-top: 2px solid $color-mine-shaft3;

        &--top {
            border-width: 1px;
        }

        &--center {
            border-bottom: 2px solid $color-mine-shaft3;
            padding-top: vpc(32);
            padding-bottom: vpc(36);
        }

        &--bottom {
            border: 0;
            padding-top: vpc(16);
            padding-bottom: vpc(17);
            color: $color-dove-gray;

            a {
                color: $color-silver;
            }
        }

        @include desktop {
            &--bottom a:hover {
                color: $color-conifer;
            }
        }

        @include tablet {
            border-width: 1px;

            &--center {
                padding-top: vpc(24);
                padding-bottom: vpc(22);
            }

            &--bottom {
                padding-bottom: vpc(12);
            }
        }

        @include mobile {
            display: block;

            &--top {
                border: 0;
            }

            &--center {
                margin-bottom: 0;
                border-bottom: 0;
                padding-top: vpc(32);
                padding-bottom: vpc(10);
            }

            &--bottom {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                padding-top: vpc(10);
            }
        }
    }

    &__subscribe {
        grid-column: 1 / span 7;
        padding: vpc(51) vpc(24) vpc(30) 0;

        @include tablet {
            grid-column-end: span 3;
            padding: vpc(31) vpc(97);
            padding-left: 0;
        }

        @include mobile {
            padding: vpc(60) 0 vpc(39);
        }
    }

    &__text {
        margin-top: vpc(13);
        color: $color-dove-gray;

        @include tablet {
            margin-top: vpc(12);
        }

        @include mobile {
            max-width: vpc(240);
        }
    }

    &__form {
        display: flex;
        margin-top: vpc(28);

        @include tablet {
            margin-top: vpc(32);
        }

        @include mobile {
            margin-top: vpc(16);
        }
    }

    &__input {
        width: vpc(438);

        @include tablet {
            width: vpc(344);
        }

        @include mobile {
            flex-grow: 1;
            width: auto;
        }
    }

    &__button {
        flex-shrink: 0;
        margin-left: vpc(12);

        @include mobile {
            margin-left: vpc(8);
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        grid-column: span 5 / -1;
        margin-left: vpc(-2);
        border-left: 2px solid $color-mine-shaft3;
        padding: vpc(31) 0 vpc(30) vpc(38);

        @include tablet {
            grid-column-start: span 1;
            margin-left: vpc(-81);
            border-width: 1px;
            padding-bottom: vpc(31);
            padding-left: vpc(24);
        }

        @include mobile {
            @include grid-container($cols-m: 2);

            grid-row-gap: vpc(16);
            margin: 0 vpc(-16);
            border-top: 1px solid $color-mine-shaft3;
            border-left: 0;
            padding: vpc(32) 0 vpc(31);
        }
    }

    &__link {
        display: inline-block;
        margin-top: vpc(16);

        &:first-child {
            margin-top: 0;
            margin-left: 0;
        }

        &--big {
            margin-top: vpc(28);
        }

        &--small {
            margin-top: vpc(20);
            font-size: vpc(20);
            line-height: math.div(22, 20);
            text-decoration: underline;
            text-decoration-skip-ink: none;
            text-decoration-thickness: 1px;
            text-underline-offset: vpc(4);
        }

        @include desktop {
            &:not(#{$p}__link--big):hover {
                color: $color-conifer;
            }
        }

        @include tablet {
            margin-top: vpc(12);

            &--big {
                margin-top: vpc(28);
            }

            &--small {
                font-size: vpc(16);
                line-height: math.div(18, 16);
            }
        }

        @include mobile {
            margin-top: 0;
            margin-left: vpc(16);

            &--big {
                margin-left: 0;
                text-align: left;
            }

            &--small {
                margin-top: vpc(12);
                margin-left: 0;
            }
        }
    }

    &__contacts {
        grid-column: 1 / span 6;

        @include tablet {
            grid-column-end: span 2;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        align-self: end;
        grid-column: span 6 / -1;
        padding-bottom: vpc(1);
        text-align: right;

        @include tablet {
            grid-column-start: span 2;
        }

        @include mobile {
            display: block;
            margin-top: vpc(59);
            padding-bottom: 0;
            text-align: left;
        }
    }

    &__team {
        grid-column: 1 / span 6;

        @include tablet {
            grid-column-end: span 2;
        }

        @include mobile {
            flex: 1;
            padding-left: vpc(8);
            text-align: right;
        }
    }

    &__copy {
        grid-column: span 6 / -1;
        text-align: right;

        @include tablet {
            grid-column-start: span 2;
        }

        @include mobile {
            flex: 1;
            padding-right: vpc(8);
            text-align: left;
        }
    }
}
