// COLORS
$color-black: #000;
$color-white: #fff;
$color-cod-gray: #1e1e1e;
$color-mine-shaft: #303030;
$color-mine-shaft2: #3d3d3d;
$color-mine-shaft3: #3f3f3f;
$color-mine-shaft4: #313131;
$color-dove-gray: #6a6a6a;
$color-dusty-gray: #949494;
$color-silver: #c6c6c6;
$color-whisper: #f0eff6;
$color-inch-worm: #b6e827;
$color-caper: #d0f0b1;
$color-pastel-green: #6ce97d;
$color-conifer: #b7df42;
$color-woodland: #54622b;
$color-cinnabar: #e64646;
$color-purple-heart: #8035ce;
$color-purple-heart2: #7d22dd;
$color-heliotrope: #f180ff;
$color-heliotrope2: #e871f3;
$color-heliotrope3: #ea74f6;
$color-mercury: #e9e9e9;
$color-alabaster: #fafafa;

$gradient-accent: linear-gradient(132.22deg, $color-inch-worm 4.33%, $color-caper 49.61%, $color-pastel-green 98.28%);

// FONTS
$font-inter: 'Inter', sans-serif;

// TRANSITIONS
$transition-duration: 0.35s;
$transition-timing-function: ease;
$transition: $transition-duration $transition-timing-function;

// BREAKPOINTS
$bp-desktop: 1024;
$bp-tablet: 768;

$bp-desktop-h: 840;
$bp-tablet-h: 1000;
$bp-mobile-h: 750;

// OTHER
$layout-width-desktop: 1280;
$layout-width-tablet: 768;
$layout-width-mobile: 360;

$layout-height-desktop: 840;
$layout-height-tablet: 1000;
$layout-height-mobile: 750;
